.about {
  background-color: #e4e4e4;
}

.about_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-evenly;
}

.about_content {
  max-width: 400px;
}
